DATABASE_URL="postgresql://postgres.krqxuoqijkwxouixqudo:oT2oP0fP4hdbFWtc@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
SUPABASE_URL=https://krqxuoqijkwxouixqudo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtycXh1b3Fpamt3eG91aXhxdWRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0Nzc4NTYsImV4cCI6MjA5MTA1Mzg1Nn0.Z7wMyo3CD80-zkAa77yf8NyoirQUpWg2tgrZdE_B5uE
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtycXh1b3Fpamt3eG91aXhxdWRvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTQ3Nzg1NiwiZXhwIjoyMDkxMDUzODU2fQ.cDNp2iL6NMwOgW8LUukGKh-1jPK-UHXF2nsHffuOm2M
RESEND_API_KEY=re_YbqG3weK_Lgip5MuEidnsdabyvSpmXRXU
EMAIL_FROM=onboarding@resend.dev
PORT=3001