-- CreateEnum
CREATE TYPE "StatutDossier" AS ENUM ('EN_ATTENTE', 'VALIDE_PAR_COMMISSION', 'REJETE_PAR_COMMISSION', 'SOUS_RESERVE_PAR_COMMISSION', 'VALIDE', 'REJETE', 'SOUS_RESERVE');

-- CreateEnum
CREATE TYPE "Verdict" AS ENUM ('VALIDE', 'REJETE', 'SOUS_RESERVE');

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('CANDIDAT', 'COMMISSION', 'CONTROLEUR', 'DGES');

-- CreateEnum
CREATE TYPE "SousRoleCommission" AS ENUM ('EXAMINATEUR', 'CONTROLEUR');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('PRE_INSCRIPTION', 'VALIDATION', 'CONVOCATION', 'REJET', 'NOUVEAU_DOSSIER', 'RAPPORT_HEBDO', 'RAPPORT_MENSUEL', 'SYSTEME', 'ALERTE');

-- CreateEnum
CREATE TYPE "PriorityLevel" AS ENUM ('LOW', 'NORMAL', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "DeliveryStatus" AS ENUM ('PENDING', 'QUEUED', 'PROCESSING', 'SENT', 'DELIVERED', 'FAILED', 'BOUNCED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "AuditEventType" AS ENUM ('NOTIFICATION_CREATED', 'NOTIFICATION_SENT', 'NOTIFICATION_DELIVERED', 'NOTIFICATION_FAILED', 'NOTIFICATION_READ', 'NOTIFICATION_DELETED', 'TEMPLATE_CREATED', 'TEMPLATE_UPDATED', 'TEMPLATE_DELETED', 'PREFERENCES_UPDATED', 'DATA_ACCESSED', 'RETRY_ATTEMPTED', 'ALERT_CREATED');

-- CreateEnum
CREATE TYPE "AlertType" AS ENUM ('HIGH_FAILURE_RATE', 'QUEUE_OVERLOAD', 'SMTP_ERROR', 'DELIVERY_ISSUE', 'SYSTEM_ERROR');

-- CreateEnum
CREATE TYPE "AlertSeverity" AS ENUM ('INFO', 'WARNING', 'ERROR', 'CRITICAL');

-- CreateEnum
CREATE TYPE "Mention" AS ENUM ('PASSABLE', 'ASSEZ_BIEN', 'BIEN', 'TRES_BIEN', 'EXCELLENT');

-- CreateEnum
CREATE TYPE "NiveauEtude" AS ENUM ('L1', 'L2', 'L3', 'M1', 'M2');

-- CreateEnum
CREATE TYPE "TypeEtablissement" AS ENUM ('PUBLIC', 'PRIVE');

-- CreateTable
CREATE TABLE "Candidat" (
    "id" TEXT NOT NULL,
    "matricule" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "anip" TEXT,
    "serie" TEXT,
    "sexe" TEXT,
    "nationalite" TEXT,
    "email" TEXT NOT NULL,
    "emailConfirme" BOOLEAN NOT NULL DEFAULT false,
    "telephone" TEXT,
    "dateNaiss" TIMESTAMP(3),
    "lieuNaiss" TEXT,
    "role" "Role" NOT NULL DEFAULT 'CANDIDAT',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Candidat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MembreCommission" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "telephone" TEXT,
    "role" "Role" NOT NULL DEFAULT 'COMMISSION',
    "sousRole" "SousRoleCommission" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MembreCommission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdministrateurDGES" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "telephone" TEXT,
    "role" "Role" NOT NULL DEFAULT 'DGES',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AdministrateurDGES_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Controleur" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "telephone" TEXT,
    "role" "Role" NOT NULL DEFAULT 'CONTROLEUR',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Controleur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Concours" (
    "id" TEXT NOT NULL,
    "libelle" TEXT NOT NULL,
    "etablissement" TEXT,
    "dateDebut" TIMESTAMP(3) NOT NULL,
    "dateFin" TIMESTAMP(3) NOT NULL,
    "dateComposition" TIMESTAMP(3),
    "description" TEXT,
    "fraisParticipation" INTEGER,
    "seriesAcceptees" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "matieres" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "piecesRequises" JSONB,
    "dateDebutDepot" TIMESTAMP(3),
    "dateFinDepot" TIMESTAMP(3),
    "dateDebutComposition" TIMESTAMP(3),
    "dateFinComposition" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Concours_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Inscription" (
    "id" TEXT NOT NULL,
    "numeroInscription" TEXT,
    "candidatId" TEXT NOT NULL,
    "concoursId" TEXT NOT NULL,
    "note" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Inscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DossierInscription" (
    "id" TEXT NOT NULL,
    "inscriptionId" TEXT NOT NULL,
    "quittanceUrl" TEXT,
    "piecesExtras" JSONB,
    "statut" "StatutDossier" NOT NULL DEFAULT 'EN_ATTENTE',
    "verdict1Par" TEXT,
    "verdict1" "Verdict",
    "verdict1Motif" TEXT,
    "verdict1Date" TIMESTAMP(3),
    "verdict1ModifieCount" INTEGER NOT NULL DEFAULT 0,
    "verdict2Par" TEXT,
    "verdict2" "Verdict",
    "verdict2Motif" TEXT,
    "verdict2Date" TIMESTAMP(3),
    "verdict2ModifieCount" INTEGER NOT NULL DEFAULT 0,
    "decisionControleur" "Verdict",
    "decisionControleurMotif" TEXT,
    "decisionControleurDate" TIMESTAMP(3),
    "decisionControleurPar" TEXT,
    "commentaireRejet" TEXT,
    "commentaireSousReserve" TEXT,
    "decisionCommissionPar" TEXT,
    "decisionCommissionDate" TIMESTAMP(3),
    "commentaireControleur" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DossierInscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Dossier" (
    "id" TEXT NOT NULL,
    "candidatId" TEXT NOT NULL,
    "acteNaissance" TEXT,
    "carteIdentite" TEXT,
    "photo" TEXT,
    "releve" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Dossier_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ActionHistory" (
    "id" TEXT NOT NULL,
    "utilisateurId" TEXT NOT NULL,
    "dossierInscriptionId" TEXT NOT NULL,
    "typeAction" TEXT NOT NULL,
    "details" JSONB,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ActionHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "data" JSONB,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "priority" "PriorityLevel" NOT NULL DEFAULT 'NORMAL',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "expiresAt" TIMESTAMP(3),

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NotificationTemplate" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "subject" TEXT NOT NULL,
    "htmlBody" TEXT NOT NULL,
    "textBody" TEXT,
    "variables" JSONB NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "NotificationTemplate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmailDelivery" (
    "id" TEXT NOT NULL,
    "notificationId" TEXT,
    "userId" TEXT,
    "recipient" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "status" "DeliveryStatus" NOT NULL DEFAULT 'PENDING',
    "messageId" TEXT,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "lastAttemptAt" TIMESTAMP(3),
    "sentAt" TIMESTAMP(3),
    "deliveredAt" TIMESTAMP(3),
    "bouncedAt" TIMESTAMP(3),
    "errorMessage" TEXT,
    "smtpCode" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "htmlBody" TEXT,
    "textBody" TEXT,
    "attachments" JSONB,
    "nextRetryAt" TIMESTAMP(3),

    CONSTRAINT "EmailDelivery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserPreferences" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "preferences" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserPreferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NotificationAuditLog" (
    "id" TEXT NOT NULL,
    "eventType" "AuditEventType" NOT NULL,
    "userId" TEXT,
    "actorId" TEXT,
    "resourceId" TEXT,
    "resourceType" TEXT,
    "details" JSONB,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "NotificationAuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SystemAlert" (
    "id" TEXT NOT NULL,
    "type" "AlertType" NOT NULL,
    "severity" "AlertSeverity" NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "data" JSONB,
    "resolved" BOOLEAN NOT NULL DEFAULT false,
    "resolvedAt" TIMESTAMP(3),
    "resolvedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SystemAlert_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DiplomeLicence" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "candidatId" TEXT NOT NULL,
    "filiereId" TEXT NOT NULL,
    "mention" "Mention" NOT NULL,
    "annee" TEXT NOT NULL,
    "verifie" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DiplomeLicence_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Etablissement" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "nom" TEXT NOT NULL,
    "type" "TypeEtablissement" NOT NULL,
    "ville" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Etablissement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Filiere" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "nom" TEXT NOT NULL,
    "etablissementId" TEXT NOT NULL,
    "dureeAnnees" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Filiere_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InscriptionAcademique" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "candidatId" TEXT NOT NULL,
    "etablissementId" TEXT NOT NULL,
    "filiereId" TEXT NOT NULL,
    "niveau" "NiveauEtude" NOT NULL,
    "anneeAcademique" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "InscriptionAcademique_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Resultat" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "inscriptionAcademiqueId" TEXT NOT NULL,
    "moyenne" DOUBLE PRECISION NOT NULL,
    "mention" "Mention" NOT NULL,
    "valide" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Resultat_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Candidat_matricule_key" ON "Candidat"("matricule");

-- CreateIndex
CREATE UNIQUE INDEX "Candidat_anip_key" ON "Candidat"("anip");

-- CreateIndex
CREATE UNIQUE INDEX "Candidat_email_key" ON "Candidat"("email");

-- CreateIndex
CREATE INDEX "Candidat_anip_idx" ON "Candidat"("anip");

-- CreateIndex
CREATE UNIQUE INDEX "MembreCommission_email_key" ON "MembreCommission"("email");

-- CreateIndex
CREATE INDEX "MembreCommission_sousRole_idx" ON "MembreCommission"("sousRole");

-- CreateIndex
CREATE UNIQUE INDEX "AdministrateurDGES_email_key" ON "AdministrateurDGES"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Controleur_email_key" ON "Controleur"("email");

-- CreateIndex
CREATE INDEX "Concours_dateDebutDepot_idx" ON "Concours"("dateDebutDepot");

-- CreateIndex
CREATE INDEX "Concours_dateFinDepot_idx" ON "Concours"("dateFinDepot");

-- CreateIndex
CREATE UNIQUE INDEX "Inscription_numeroInscription_key" ON "Inscription"("numeroInscription");

-- CreateIndex
CREATE INDEX "Inscription_candidatId_idx" ON "Inscription"("candidatId");

-- CreateIndex
CREATE INDEX "Inscription_concoursId_idx" ON "Inscription"("concoursId");

-- CreateIndex
CREATE UNIQUE INDEX "Inscription_candidatId_concoursId_key" ON "Inscription"("candidatId", "concoursId");

-- CreateIndex
CREATE UNIQUE INDEX "DossierInscription_inscriptionId_key" ON "DossierInscription"("inscriptionId");

-- CreateIndex
CREATE INDEX "DossierInscription_inscriptionId_idx" ON "DossierInscription"("inscriptionId");

-- CreateIndex
CREATE INDEX "DossierInscription_statut_idx" ON "DossierInscription"("statut");

-- CreateIndex
CREATE INDEX "DossierInscription_verdict1Par_idx" ON "DossierInscription"("verdict1Par");

-- CreateIndex
CREATE INDEX "DossierInscription_verdict2Par_idx" ON "DossierInscription"("verdict2Par");

-- CreateIndex
CREATE INDEX "DossierInscription_decisionControleurPar_idx" ON "DossierInscription"("decisionControleurPar");

-- CreateIndex
CREATE INDEX "DossierInscription_createdAt_idx" ON "DossierInscription"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Dossier_candidatId_key" ON "Dossier"("candidatId");

-- CreateIndex
CREATE INDEX "ActionHistory_dossierInscriptionId_idx" ON "ActionHistory"("dossierInscriptionId");

-- CreateIndex
CREATE INDEX "ActionHistory_utilisateurId_idx" ON "ActionHistory"("utilisateurId");

-- CreateIndex
CREATE INDEX "ActionHistory_timestamp_idx" ON "ActionHistory"("timestamp");

-- CreateIndex
CREATE INDEX "ActionHistory_typeAction_idx" ON "ActionHistory"("typeAction");

-- CreateIndex
CREATE INDEX "ActionHistory_dossierInscriptionId_timestamp_idx" ON "ActionHistory"("dossierInscriptionId", "timestamp" DESC);

-- CreateIndex
CREATE INDEX "ActionHistory_utilisateurId_timestamp_idx" ON "ActionHistory"("utilisateurId", "timestamp" DESC);

-- CreateIndex
CREATE INDEX "Notification_userId_createdAt_idx" ON "Notification"("userId", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "Notification_userId_read_idx" ON "Notification"("userId", "read");

-- CreateIndex
CREATE INDEX "Notification_type_idx" ON "Notification"("type");

-- CreateIndex
CREATE INDEX "Notification_expiresAt_idx" ON "Notification"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "NotificationTemplate_name_key" ON "NotificationTemplate"("name");

-- CreateIndex
CREATE INDEX "NotificationTemplate_type_idx" ON "NotificationTemplate"("type");

-- CreateIndex
CREATE INDEX "NotificationTemplate_isActive_idx" ON "NotificationTemplate"("isActive");

-- CreateIndex
CREATE INDEX "EmailDelivery_notificationId_idx" ON "EmailDelivery"("notificationId");

-- CreateIndex
CREATE INDEX "EmailDelivery_userId_idx" ON "EmailDelivery"("userId");

-- CreateIndex
CREATE INDEX "EmailDelivery_status_idx" ON "EmailDelivery"("status");

-- CreateIndex
CREATE INDEX "EmailDelivery_createdAt_idx" ON "EmailDelivery"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "EmailDelivery_createdAt_status_idx" ON "EmailDelivery"("createdAt", "status");

-- CreateIndex
CREATE UNIQUE INDEX "UserPreferences_userId_key" ON "UserPreferences"("userId");

-- CreateIndex
CREATE INDEX "UserPreferences_userId_idx" ON "UserPreferences"("userId");

-- CreateIndex
CREATE INDEX "NotificationAuditLog_eventType_idx" ON "NotificationAuditLog"("eventType");

-- CreateIndex
CREATE INDEX "NotificationAuditLog_userId_idx" ON "NotificationAuditLog"("userId");

-- CreateIndex
CREATE INDEX "NotificationAuditLog_actorId_idx" ON "NotificationAuditLog"("actorId");

-- CreateIndex
CREATE INDEX "NotificationAuditLog_timestamp_idx" ON "NotificationAuditLog"("timestamp" DESC);

-- CreateIndex
CREATE INDEX "NotificationAuditLog_resourceType_resourceId_idx" ON "NotificationAuditLog"("resourceType", "resourceId");

-- CreateIndex
CREATE INDEX "SystemAlert_resolved_idx" ON "SystemAlert"("resolved");

-- CreateIndex
CREATE INDEX "SystemAlert_severity_idx" ON "SystemAlert"("severity");

-- CreateIndex
CREATE INDEX "SystemAlert_createdAt_idx" ON "SystemAlert"("createdAt" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "DiplomeLicence_candidatId_key" ON "DiplomeLicence"("candidatId");

-- CreateIndex
CREATE INDEX "DiplomeLicence_filiereId_idx" ON "DiplomeLicence"("filiereId");

-- CreateIndex
CREATE INDEX "DiplomeLicence_verifie_idx" ON "DiplomeLicence"("verifie");

-- CreateIndex
CREATE UNIQUE INDEX "Etablissement_code_key" ON "Etablissement"("code");

-- CreateIndex
CREATE INDEX "Etablissement_code_idx" ON "Etablissement"("code");

-- CreateIndex
CREATE INDEX "Etablissement_type_idx" ON "Etablissement"("type");

-- CreateIndex
CREATE INDEX "Filiere_etablissementId_idx" ON "Filiere"("etablissementId");

-- CreateIndex
CREATE UNIQUE INDEX "Filiere_etablissementId_nom_key" ON "Filiere"("etablissementId", "nom");

-- CreateIndex
CREATE INDEX "InscriptionAcademique_anneeAcademique_idx" ON "InscriptionAcademique"("anneeAcademique");

-- CreateIndex
CREATE INDEX "InscriptionAcademique_candidatId_idx" ON "InscriptionAcademique"("candidatId");

-- CreateIndex
CREATE INDEX "InscriptionAcademique_etablissementId_idx" ON "InscriptionAcademique"("etablissementId");

-- CreateIndex
CREATE INDEX "InscriptionAcademique_filiereId_idx" ON "InscriptionAcademique"("filiereId");

-- CreateIndex
CREATE INDEX "InscriptionAcademique_niveau_idx" ON "InscriptionAcademique"("niveau");

-- CreateIndex
CREATE UNIQUE INDEX "InscriptionAcademique_candidatId_filiereId_niveau_anneeAcademiq" ON "InscriptionAcademique"("candidatId", "filiereId", "niveau", "anneeAcademique");

-- CreateIndex
CREATE UNIQUE INDEX "Resultat_inscriptionAcademiqueId_key" ON "Resultat"("inscriptionAcademiqueId");

-- AddForeignKey
ALTER TABLE "Inscription" ADD CONSTRAINT "Inscription_candidatId_fkey" FOREIGN KEY ("candidatId") REFERENCES "Candidat"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inscription" ADD CONSTRAINT "Inscription_concoursId_fkey" FOREIGN KEY ("concoursId") REFERENCES "Concours"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DossierInscription" ADD CONSTRAINT "DossierInscription_inscriptionId_fkey" FOREIGN KEY ("inscriptionId") REFERENCES "Inscription"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Dossier" ADD CONSTRAINT "Dossier_candidatId_fkey" FOREIGN KEY ("candidatId") REFERENCES "Candidat"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ActionHistory" ADD CONSTRAINT "ActionHistory_dossierInscriptionId_fkey" FOREIGN KEY ("dossierInscriptionId") REFERENCES "DossierInscription"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DiplomeLicence" ADD CONSTRAINT "DiplomeLicence_candidatId_fkey" FOREIGN KEY ("candidatId") REFERENCES "Candidat"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DiplomeLicence" ADD CONSTRAINT "DiplomeLicence_filiereId_fkey" FOREIGN KEY ("filiereId") REFERENCES "Filiere"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Filiere" ADD CONSTRAINT "Filiere_etablissementId_fkey" FOREIGN KEY ("etablissementId") REFERENCES "Etablissement"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InscriptionAcademique" ADD CONSTRAINT "InscriptionAcademique_candidatId_fkey" FOREIGN KEY ("candidatId") REFERENCES "Candidat"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InscriptionAcademique" ADD CONSTRAINT "InscriptionAcademique_etablissementId_fkey" FOREIGN KEY ("etablissementId") REFERENCES "Etablissement"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InscriptionAcademique" ADD CONSTRAINT "InscriptionAcademique_filiereId_fkey" FOREIGN KEY ("filiereId") REFERENCES "Filiere"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Resultat" ADD CONSTRAINT "Resultat_inscriptionAcademiqueId_fkey" FOREIGN KEY ("inscriptionAcademiqueId") REFERENCES "InscriptionAcademique"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

